<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-4}</string>
                <key>spriteSize</key>
                <string>{163,254}</string>
                <key>spriteSourceSize</key>
                <string>{205,286}</string>
                <key>textureRect</key>
                <string>{{166,753},{163,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,0}</string>
                <key>spriteSize</key>
                <string>{101,255}</string>
                <key>spriteSourceSize</key>
                <string>{147,271}</string>
                <key>textureRect</key>
                <string>{{331,753},{101,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{163,256}</string>
                <key>spriteSourceSize</key>
                <string>{185,270}</string>
                <key>textureRect</key>
                <string>{{167,423},{163,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,1}</string>
                <key>spriteSize</key>
                <string>{163,256}</string>
                <key>spriteSourceSize</key>
                <string>{199,272}</string>
                <key>textureRect</key>
                <string>{{1,431},{163,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,1}</string>
                <key>spriteSize</key>
                <string>{169,254}</string>
                <key>spriteSourceSize</key>
                <string>{195,274}</string>
                <key>textureRect</key>
                <string>{{258,1},{169,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{163,255}</string>
                <key>spriteSourceSize</key>
                <string>{199,269}</string>
                <key>textureRect</key>
                <string>{{166,588},{163,255}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{164,256}</string>
                <key>spriteSourceSize</key>
                <string>{180,286}</string>
                <key>textureRect</key>
                <string>{{1,173},{164,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-7}</string>
                <key>spriteSize</key>
                <string>{170,255}</string>
                <key>spriteSourceSize</key>
                <string>{184,291}</string>
                <key>textureRect</key>
                <string>{{1,1},{170,255}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{164,256}</string>
                <key>spriteSourceSize</key>
                <string>{186,282}</string>
                <key>textureRect</key>
                <string>{{167,257},{164,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-10}</string>
                <key>spriteSize</key>
                <string>{163,255}</string>
                <key>spriteSourceSize</key>
                <string>{177,297}</string>
                <key>textureRect</key>
                <string>{{1,689},{163,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>numbers.png</string>
            <key>size</key>
            <string>{433,1009}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b59e0a2fc2fca5e4fa7d1bf9f0367269:d795a21930b3da15fc54a5eb6f8fe3a8:73cfa007bc07ad091e3f0b98e5b21293$</string>
            <key>textureFileName</key>
            <string>numbers.png</string>
        </dict>
    </dict>
</plist>
