<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_dynamite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,68}</string>
                <key>spriteSourceSize</key>
                <string>{76,68}</string>
                <key>textureRect</key>
                <string>{{256,1},{76,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_dynamite_empty.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,68}</string>
                <key>spriteSourceSize</key>
                <string>{76,68}</string>
                <key>textureRect</key>
                <string>{{334,1},{76,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_SG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,68}</string>
                <key>spriteSourceSize</key>
                <string>{80,68}</string>
                <key>textureRect</key>
                <string>{{174,1},{80,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_flamethrower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,80}</string>
                <key>spriteSourceSize</key>
                <string>{71,80}</string>
                <key>textureRect</key>
                <string>{{1,1},{71,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_m16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,70}</string>
                <key>spriteSourceSize</key>
                <string>{89,70}</string>
                <key>textureRect</key>
                <string>{{83,1},{89,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapon_dynamite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,32}</string>
                <key>spriteSourceSize</key>
                <string>{52,32}</string>
                <key>textureRect</key>
                <string>{{412,1},{52,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icon.png</string>
            <key>size</key>
            <string>{445,73}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be3cfd28ae135ec677ac83eb3ce7b0e5:507a690821036065066627368d18b45b:240848ad97db3b21fd898f16a7d3102d$</string>
            <key>textureFileName</key>
            <string>icon.png</string>
        </dict>
    </dict>
</plist>
