<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,124}</string>
                <key>spriteSourceSize</key>
                <string>{84,124}</string>
                <key>textureRect</key>
                <string>{{430,1},{84,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,124}</string>
                <key>spriteSourceSize</key>
                <string>{83,124}</string>
                <key>textureRect</key>
                <string>{{688,1},{83,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,124}</string>
                <key>spriteSourceSize</key>
                <string>{84,124}</string>
                <key>textureRect</key>
                <string>{{516,1},{84,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,125}</string>
                <key>spriteSourceSize</key>
                <string>{84,125}</string>
                <key>textureRect</key>
                <string>{{88,1},{84,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,124}</string>
                <key>spriteSourceSize</key>
                <string>{83,124}</string>
                <key>textureRect</key>
                <string>{{773,1},{83,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,125}</string>
                <key>spriteSourceSize</key>
                <string>{83,125}</string>
                <key>textureRect</key>
                <string>{{260,1},{83,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,125}</string>
                <key>spriteSourceSize</key>
                <string>{84,125}</string>
                <key>textureRect</key>
                <string>{{174,1},{84,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,124}</string>
                <key>spriteSourceSize</key>
                <string>{83,124}</string>
                <key>textureRect</key>
                <string>{{858,1},{83,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,125}</string>
                <key>spriteSourceSize</key>
                <string>{83,125}</string>
                <key>textureRect</key>
                <string>{{345,1},{83,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,124}</string>
                <key>spriteSourceSize</key>
                <string>{84,124}</string>
                <key>textureRect</key>
                <string>{{602,1},{84,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,124}</string>
                <key>spriteSourceSize</key>
                <string>{83,124}</string>
                <key>textureRect</key>
                <string>{{943,1},{83,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,125}</string>
                <key>spriteSourceSize</key>
                <string>{85,125}</string>
                <key>textureRect</key>
                <string>{{1,1},{85,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,124}</string>
                <key>spriteSourceSize</key>
                <string>{83,124}</string>
                <key>textureRect</key>
                <string>{{1028,1},{83,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,124}</string>
                <key>spriteSourceSize</key>
                <string>{83,124}</string>
                <key>textureRect</key>
                <string>{{1113,1},{83,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,124}</string>
                <key>spriteSourceSize</key>
                <string>{83,124}</string>
                <key>textureRect</key>
                <string>{{1198,1},{83,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,124}</string>
                <key>spriteSourceSize</key>
                <string>{83,124}</string>
                <key>textureRect</key>
                <string>{{1283,1},{83,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>redneck_idle.png</string>
            <key>size</key>
            <string>{1367,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:042bf2a84470d86a740b5021b31c1d85:079490635d98d9fd570d271535b97c91:67ec6db8c24733e5fce0623794e1b366$</string>
            <key>textureFileName</key>
            <string>redneck_idle.png</string>
        </dict>
    </dict>
</plist>
