<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>M16finish00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,3}</string>
                <key>spriteSize</key>
                <string>{87,115}</string>
                <key>spriteSourceSize</key>
                <string>{173,131}</string>
                <key>textureRect</key>
                <string>{{70,70},{87,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M16finish01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,58}</string>
                <key>spriteSourceSize</key>
                <string>{82,58}</string>
                <key>textureRect</key>
                <string>{{165,1},{82,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>M16finish02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,67}</string>
                <key>spriteSourceSize</key>
                <string>{70,67}</string>
                <key>textureRect</key>
                <string>{{159,85},{70,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>M16firing00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{107,37}</string>
                <key>spriteSourceSize</key>
                <string>{113,55}</string>
                <key>textureRect</key>
                <string>{{70,187},{107,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M16firing01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{162,67}</string>
                <key>spriteSourceSize</key>
                <string>{164,67}</string>
                <key>textureRect</key>
                <string>{{1,1},{162,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M16firing02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{107,37}</string>
                <key>spriteSourceSize</key>
                <string>{113,55}</string>
                <key>textureRect</key>
                <string>{{70,187},{107,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M16firing03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{162,67}</string>
                <key>spriteSourceSize</key>
                <string>{164,67}</string>
                <key>textureRect</key>
                <string>{{1,1},{162,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M16firing04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{107,37}</string>
                <key>spriteSourceSize</key>
                <string>{113,55}</string>
                <key>textureRect</key>
                <string>{{70,187},{107,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M16firing05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{162,67}</string>
                <key>spriteSourceSize</key>
                <string>{164,67}</string>
                <key>textureRect</key>
                <string>{{1,1},{162,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M16firing06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{107,37}</string>
                <key>spriteSourceSize</key>
                <string>{113,55}</string>
                <key>textureRect</key>
                <string>{{70,187},{107,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M16firing07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{162,67}</string>
                <key>spriteSourceSize</key>
                <string>{164,67}</string>
                <key>textureRect</key>
                <string>{{1,1},{162,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M16firing08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{107,37}</string>
                <key>spriteSourceSize</key>
                <string>{113,55}</string>
                <key>textureRect</key>
                <string>{{70,187},{107,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M16firing09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{162,67}</string>
                <key>spriteSourceSize</key>
                <string>{164,67}</string>
                <key>textureRect</key>
                <string>{{1,1},{162,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M16firing10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{154,67}</string>
                <key>spriteSourceSize</key>
                <string>{164,67}</string>
                <key>textureRect</key>
                <string>{{1,70},{154,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>M16firing.png</string>
            <key>size</key>
            <string>{227,225}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e8cc5b93478e278052dc606a901c8d3:0c06bec6cb40a990a7d0d08d02899570:aa3b4f9320c1ebd86df9617a520dc661$</string>
            <key>textureFileName</key>
            <string>M16firing.png</string>
        </dict>
    </dict>
</plist>
