<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>M16firing00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,41}</string>
                <key>spriteSourceSize</key>
                <string>{105,41}</string>
                <key>textureRect</key>
                <string>{{84,118},{105,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>M16firing01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,41}</string>
                <key>spriteSourceSize</key>
                <string>{98,41}</string>
                <key>textureRect</key>
                <string>{{127,118},{98,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>M16firing02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,40}</string>
                <key>spriteSourceSize</key>
                <string>{90,40}</string>
                <key>textureRect</key>
                <string>{{209,102},{90,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>M16firing03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{107,37}</string>
                <key>spriteSourceSize</key>
                <string>{113,55}</string>
                <key>textureRect</key>
                <string>{{170,102},{107,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>M16firing04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,3}</string>
                <key>spriteSize</key>
                <string>{151,81}</string>
                <key>spriteSourceSize</key>
                <string>{171,89}</string>
                <key>textureRect</key>
                <string>{{1,118},{151,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>M16firing05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,3}</string>
                <key>spriteSize</key>
                <string>{145,115}</string>
                <key>spriteSourceSize</key>
                <string>{173,131}</string>
                <key>textureRect</key>
                <string>{{1,1},{145,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M16firing06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,58}</string>
                <key>spriteSourceSize</key>
                <string>{82,58}</string>
                <key>textureRect</key>
                <string>{{84,225},{82,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M16firing07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,67}</string>
                <key>spriteSourceSize</key>
                <string>{70,67}</string>
                <key>textureRect</key>
                <string>{{170,211},{70,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M16firing08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,51}</string>
                <key>spriteSourceSize</key>
                <string>{96,51}</string>
                <key>textureRect</key>
                <string>{{148,1},{96,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M16firing09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,46}</string>
                <key>spriteSourceSize</key>
                <string>{100,46}</string>
                <key>textureRect</key>
                <string>{{148,54},{100,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>M16firing.png</string>
            <key>size</key>
            <string>{250,284}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:25598a18871a859f799aed5cd53e916b:b70fa0b0f4a594fe1cff4af0f0c24ed8:aa3b4f9320c1ebd86df9617a520dc661$</string>
            <key>textureFileName</key>
            <string>M16firing.png</string>
        </dict>
    </dict>
</plist>
