<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>M16idle00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,65}</string>
                <key>spriteSourceSize</key>
                <string>{64,65}</string>
                <key>textureRect</key>
                <string>{{1,894},{64,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>M16idle01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,63}</string>
                <key>spriteSourceSize</key>
                <string>{66,63}</string>
                <key>textureRect</key>
                <string>{{1,764},{66,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M16idle02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,61}</string>
                <key>spriteSourceSize</key>
                <string>{68,61}</string>
                <key>textureRect</key>
                <string>{{1,321},{68,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M16idle03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,61}</string>
                <key>spriteSourceSize</key>
                <string>{68,61}</string>
                <key>textureRect</key>
                <string>{{1,384},{68,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M16idle04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,61}</string>
                <key>spriteSourceSize</key>
                <string>{73,61}</string>
                <key>textureRect</key>
                <string>{{1,1},{73,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M16idle05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,64}</string>
                <key>spriteSourceSize</key>
                <string>{71,64}</string>
                <key>textureRect</key>
                <string>{{1,128},{71,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M16idle06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,63}</string>
                <key>spriteSourceSize</key>
                <string>{63,63}</string>
                <key>textureRect</key>
                <string>{{1,960},{63,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M16idle07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,62}</string>
                <key>spriteSourceSize</key>
                <string>{67,62}</string>
                <key>textureRect</key>
                <string>{{1,636},{67,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M16idle08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,62}</string>
                <key>spriteSourceSize</key>
                <string>{67,62}</string>
                <key>textureRect</key>
                <string>{{1,700},{67,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M16idle09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,62}</string>
                <key>spriteSourceSize</key>
                <string>{72,62}</string>
                <key>textureRect</key>
                <string>{{1,64},{72,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M16idle10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,63}</string>
                <key>spriteSourceSize</key>
                <string>{66,63}</string>
                <key>textureRect</key>
                <string>{{1,829},{66,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M16idle11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,61}</string>
                <key>spriteSourceSize</key>
                <string>{68,61}</string>
                <key>textureRect</key>
                <string>{{1,447},{68,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M16idle12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,62}</string>
                <key>spriteSourceSize</key>
                <string>{68,62}</string>
                <key>textureRect</key>
                <string>{{1,257},{68,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M16idle13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,61}</string>
                <key>spriteSourceSize</key>
                <string>{68,61}</string>
                <key>textureRect</key>
                <string>{{1,510},{68,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M16idle14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,61}</string>
                <key>spriteSourceSize</key>
                <string>{68,61}</string>
                <key>textureRect</key>
                <string>{{1,573},{68,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M16idle15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,61}</string>
                <key>spriteSourceSize</key>
                <string>{70,61}</string>
                <key>textureRect</key>
                <string>{{1,194},{70,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>M16idle.png</string>
            <key>size</key>
            <string>{75,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d78aabc87bb566c2267b6a5d3314d02:0bbbadbc60f9efb9f87ecabdd26e77b5:8df012188ca2e2b4d94072304c5b4029$</string>
            <key>textureFileName</key>
            <string>M16idle.png</string>
        </dict>
    </dict>
</plist>
