<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SGidle00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,71}</string>
                <key>spriteSourceSize</key>
                <string>{79,71}</string>
                <key>textureRect</key>
                <string>{{164,73},{79,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SGidle01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,72}</string>
                <key>spriteSourceSize</key>
                <string>{78,72}</string>
                <key>textureRect</key>
                <string>{{242,146},{78,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SGidle02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,71}</string>
                <key>spriteSourceSize</key>
                <string>{78,71}</string>
                <key>textureRect</key>
                <string>{{245,73},{78,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SGidle03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,70}</string>
                <key>spriteSourceSize</key>
                <string>{81,70}</string>
                <key>textureRect</key>
                <string>{{173,1},{81,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SGidle04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,73}</string>
                <key>spriteSourceSize</key>
                <string>{75,73}</string>
                <key>textureRect</key>
                <string>{{401,146},{75,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SGidle05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,71}</string>
                <key>spriteSourceSize</key>
                <string>{81,71}</string>
                <key>textureRect</key>
                <string>{{325,73},{81,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SGidle06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,71}</string>
                <key>spriteSourceSize</key>
                <string>{79,71}</string>
                <key>textureRect</key>
                <string>{{1,142},{79,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SGidle07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,69}</string>
                <key>spriteSourceSize</key>
                <string>{83,69}</string>
                <key>textureRect</key>
                <string>{{88,1},{83,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SGidle08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,67}</string>
                <key>spriteSourceSize</key>
                <string>{85,67}</string>
                <key>textureRect</key>
                <string>{{1,1},{85,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SGidle09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,72}</string>
                <key>spriteSourceSize</key>
                <string>{77,72}</string>
                <key>textureRect</key>
                <string>{{322,146},{77,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SGidle10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,70}</string>
                <key>spriteSourceSize</key>
                <string>{79,70}</string>
                <key>textureRect</key>
                <string>{{256,1},{79,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SGidle11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,70}</string>
                <key>spriteSourceSize</key>
                <string>{79,70}</string>
                <key>textureRect</key>
                <string>{{337,1},{79,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SGidle12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,71}</string>
                <key>spriteSourceSize</key>
                <string>{79,71}</string>
                <key>textureRect</key>
                <string>{{82,144},{79,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SGidle13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,71}</string>
                <key>spriteSourceSize</key>
                <string>{77,71}</string>
                <key>textureRect</key>
                <string>{{163,146},{77,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SGidle14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,70}</string>
                <key>spriteSourceSize</key>
                <string>{79,70}</string>
                <key>textureRect</key>
                <string>{{1,70},{79,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SGidle15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,70}</string>
                <key>spriteSourceSize</key>
                <string>{80,70}</string>
                <key>textureRect</key>
                <string>{{82,72},{80,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SGidle.png</string>
            <key>size</key>
            <string>{477,220}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:126ccb30edea34e2bbabb90a3c32b819:7a5093617b02fe2e85331fff56de4ef7:2c5a6d19548773f75ff957693dc75ef3$</string>
            <key>textureFileName</key>
            <string>SGidle.png</string>
        </dict>
    </dict>
</plist>
